.popup__input {
    padding: 30px 0 12px 0;
    border: none;
    width: 100%;
    outline: none;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}