.popup__container {
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    min-width: 282px;
    max-width: 430px;
    width: 100%;
}

@media screen and (max-width: 540px) {
    .popup__container{
        max-width: 238px;
        margin: 123px auto auto auto;
    }
}