.profile__title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 21rem;
}

@media screen and (max-width: 760px) {
    .profile__title {
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    .profile__title {

        font-size: 14px;
        line-height: 17px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}