.popup__form {
    display: flex;
    flex-direction: column;
    padding: 2.125rem 2.25rem 2.375rem 2.25rem;
}


@media screen and (max-width: 540px) {
    .popup__form{
        padding: 1.5rem 1.375rem 1.5625rem 1.375rem;
    }
}





