.profile__add-button {
    background: transparent;
    border: 1px solid #FFFFFF;
    width: 150px;
    align-self: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
}

.profile__add-button:hover {
    opacity: 0.6
}

@media screen and (max-width: 760px) {
    .profile__add-button {
        width: 282px;
    }
}