.element {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    max-width: 282px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    grid-template-rows: 282px 79px;
    display: grid;
    align-items: center;
}