.popup__container-avatar{
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    min-width: 17.625rem;
    max-width: 26.875rem;
    width: 100%;
    height: 272px;
}

@media screen and (max-width: 540px) {
    .popup__container-avatar{
        max-width: 14.875rem;
    }
}
